html { 
  background:  url(https://media1.tenor.com/images/94ef3ccad9c6947dc1e77b67604d5629/tenor.gif?itemid=9517382) no-repeat center center fixed; 
  background-size: cover;
}
body {
    height: 100%;
}
